@import "bourbon";
@import "base/base";
@import "neat";

.container {
  width: 700px;
  margin: 0 auto;
}

.bg-full-bleed {
  height: 300px;
  background-image: image-url("ring.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
