<!DOCTYPE html>
<html>
<head>
  <title>~* DARK REGISTRY *~</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="bg-full-bleed">
      <header>
          <h1>Dark Registry</h1>
      </header>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  
  <footer>
    <small>Made by <a href="http://about.ckundo.com/">Cameron Cundiff</a> and <a href="https://www.davidhuerta.me">David Huerta</a> with í ¼í½• in NYC for <a href="http://www.stupidhackathon.com/">Stupid Hackathon</a>.</small>
  </footer>

</body>
</html>
